/* REVIEW SECTION  */

.testimonials-section {
    padding-bottom: 50px;
    color: #fff;
    height: 90vh;
}

.testi-item {
    width: calc((100% / 3) - 30px);
    margin: 0 15px 30px;
    border: 2px solid var(--dark-light);
    padding: 30px;
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.testi-author {
    display: flex;
    justify-content: space-between;
}

.testi-author h3 {
    margin: 0 0 3px;
}

.testi-author span {
    display: block;
    font-size: 14px;
}


.testi-author img {
    max-width: 60px;
    border-radius: 50%;
    border: 3px solid var(--dark-light);
    box-shadow: var(--shadow);
    transition: border-color 500ms ease;
}

.testi-item:hover .testi-author img {
    border-color: var(--main-color);
}

.testi-item p {
    margin: 15px 0;
}

.testi-item .ratings {
    color: var(--main-color);
}