/* REVIEW SECTION  */

.testimonials-section {
    padding-bottom: 50px;
    color: #fff;
}
.item-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.testi-item {
    flex: 1;
    margin: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 8px;
    background-color: var(--dark-light);
    box-shadow: var(--shadow);
}

.testi-author {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--dark);
}

.testi-author h3 {
    width: 100%;
    font-size: 3rem;
    letter-spacing: 3px;
    color: var(--beaver);
}

.testi-author span {
    display: block;
    font-style: italic;
    font-size: 14px;
}


.testi-author img {
    max-width: 70px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid var(--text);
    box-shadow: var(--shadow);
    transition: border-color 500ms ease;
}

.testi-item:hover .testi-author img {
    border-color: var(--blue);
}

.testi-item p {
    margin: 15px 0;
    font-size: 1.3rem;
    font-family: 'Comfortaa', sans-serif;
}
.ratings button {
    border: none;
    background-color: transparent;
    color: var(--text);
    font-size: 35px;
}

@media (max-width: 1276px) {
    .testi-author h3 {
        font-size: 2rem;
    }
    .testi-author span {
        display: block;
        font-style: italic;
    }
    .desc-wrap p {
        font-size: 1rem;
        margin: 5px 0;
    }
    .ratings button {
        border: none;
        background-color: transparent;
        color: var(--text);
        font-size: 20px;
    }
}
@media (max-width: 987px) {
    .item-row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .testi-item {
        width: 75%;
    }
}

@media (max-width: 425px) {
    .testi-item {
        width: 95%;
    }
}