/* HOME SECTION */

.home-section {
    position: relative;
    overflow: hidden;
}

.home-section::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: -1;
}

.home-section .home-bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url('../../img/lit.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: -2;
    animation: zoomInOut 30s ease-in-out infinite;
}

.home-section .min-vh-100 {
    padding: 100px 0;
}

.home-text {
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-text h1 {
    font-size: 15rem;
    font-weight: bolder;
    letter-spacing: 10px;
    line-height: 75px;
    margin: 0 0 15px;
    color: var(--text);
    font-family: 'Amatic SC', sans-serif;
}

@media (max-width: 1189px) {
    .home-text h1 {
        font-size: 13rem;
    }
}

@media (max-width: 1049px) {
    .home-text h1 {
        font-size: 11rem;
    }
}

@media (max-width: 911px) {
    .home-text h1 {
        font-size: 9rem;
    }
}

@media (max-width: 772px) {
    .home-text h1 {
        font-size: 7rem;
    }
}

@media (max-width: 634px) {
    .home-text h1 {
        font-size: 5rem;
    }
}