/* FOOTER SECTION  */

.footer {
    padding: 80px 0 0;
    color: #fff;
}

.footer-item {
    width: calc(100% / 3);
    padding: 0 15px;
    text-align: center;
}

.footer-item h3 {
    font-size: 22px;
    margin: 0 0 15px;
}
.footer-item p {
    line-height: 30px;
}

.footer-item .social-links {
    margin-top: 15px;
}
.footer-item .social-links a {
    display: inline-flex;
    height: 40px;
    width: 40px;
    color: var(--white-light);
    font-size: 30px;
    align-items: center;
    justify-content: center;
    transition: color 500ms ease;
}

.footer-item .social-links a:hover {
    color: var(--main-color);
}

.footer .copyright {
    margin: 50px 0 0;
    width: 100%;
    text-align: center;
    padding: 25px 15px;
    font-size: 14px;
    border-top: 1px solid var(--white-light);
}
